# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ignorar arquivos compilados e diretórios de saída
/target/
/build/

target/

# Ignorar arquivos de configuração de IDE
.idea/
.vscode/

# Ignorar arquivos de log
*.log
